{% extends "layout.html" %}
{% block body %}
<div style="font-size:80%; height:20px; float:right;">
  <span style="display:none">Queue size: <span id="qsize">{{ queue_size }}</span></span>
  <span id="wait" style="display: none">
    Generating chart... please wait <img src="{{ url_for('static', filename='img/preload.gif') }}">
  </span>
</div>
<h1>HCR Play</h1>
<form id="options" class="option_forms" action="{{ url_for('submit') }}" method="post">
  <b>Net included:</b>
  <input type="checkbox" name="net-mrt" checked>MRT 
  <input type="checkbox" name="net-bts" checked>BTS
  <input type="checkbox" name="net-chaophraya" checked>เจ้าพระยา
  <input type="checkbox" name="net-bangkoknoi">บางกอกน้อย
  <input type="checkbox" name="net-phasicharoen">ภาษีเจริญ
  <input type="checkbox" name="net-omnon">อ้อมนนท์
  <input type="checkbox" name="net-bangsue">บางซื่อ
  <input type="checkbox" name="net-ladprao">ลาดพร้าว
  <input type="checkbox" name="net-saensap">แสนแสบ
  <input id="submit_id" type="submit" value="Simulate">
  <small>
    [<a id="additional_options_toggle" href="#">options</a>]
  </small>
  <br>
  <div id="additional_options" style="display:none">
    <small>
      <b>Options:</b>
      Speed ratio:
      rail/road <input type="text" name="rate-rail-road" value="3.0" size="2">
      canal/road <input type="text" name="rate-canal-road" value="3.0" size="2">
    </small>
  </div>
</form>
<div id="result">
</div>
<script>
 var JOB_POLL_TIMEOUT = 500;
 var currentJobId = null;

 var loadJobResult = function(jobId) {
   var url = '{{ url_for('result', job_id='') }}' + jobId;
   jQuery.get(url, function(data) {
     $('#result').html(data);
   });
 };

 var checkJobStatus = function() {
   if(!currentJobId) {
     return false;
   }
   var url = '{{ url_for('status', job_id='') }}' + currentJobId;
   jQuery.get(url, function(data) {
     if(data !== 'false') {
       $("#wait").hide();
       loadJobResult(currentJobId);
       currentJobId = null;
     } else {
       setTimeout(checkJobStatus, JOB_POLL_TIMEOUT);
     }
   });
 };

 $(function() {
   $("#submit_id").click(function(){
     url = $("#options").attr('action');
     data = $("#options").serialize();
     jQuery.post(url,
                 data,
                 function(data) {
         currentJobId = data.jobid;
         $("#qsize").text(data.qsize);
         //$("#result").html('');
         $("#wait").show();
         setTimeout(checkJobStatus, JOB_POLL_TIMEOUT);
       });
     return false;
   });
   $("#additional_options_toggle").click(function(){
     $("#additional_options").toggle();
     return false;
   });
 });
</script>
{% endblock %}
